* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

html,
body {
  height: 100%;
  width: 100%;
}

header nav {
  height: 40px;
  width: 100%;
  display: flex;
  background-color: rgb(255, 182, 124);
  justify-content: center;
  align-items: center;
  gap: 25px;
}

header nav li {
  list-style: none;
  font-weight: bold;
}

.hero-content {
  height: 100px;
  width: 100%;
  background-color: #fff9f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero-content h1 {
  margin: 25px;
}

.climate-news {
  background-color: #fff9f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.climate-news-content img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 12px;
}

.climate-news-content {
  display: flex;
  width: 85%;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
  margin: 20px auto;
}

.left {
  flex: 1;
  padding: 50px 0 50px 100px;
  margin-right: 20px;
}

.middle {
  flex: 2;
  padding: 50px 0 50px 0px;
}

.right {
  flex: 1;
  padding: 50px 50px 50px 0px;
  margin-left: 20px;
}
